{
  "extends": "brightspace/react-config",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
      "react/jsx-uses-react": 1,
      "react/jsx-uses-vars": 1
  }
}
