{
  "extends": "brightspace/react-config",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
	"ecmaVersion": 2018
  },
  "rules": {
      "react/jsx-uses-react": 1,
      "react/jsx-uses-vars": 1
  }
}
